
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>My Home Page </title>
</head>
<body>
    <div> Fabricio Welcomes to his first MVC view
    </div>
    <div>
        Github integration withh axosoft 2016.
        Last test hook 1 2 3 debugger x 13
    </div>
</body>
</html>
